<!DOCTYPE html>
<!--this file not in use for know-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beeline Free Wifi</title>
    <link rel="stylesheet" href="./fonts/fonts.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="btn_block" id="app">
        <button class="btn_back btn_back_white"  @click="topFunction()" id="myBtn" title="Н">Назад</button>

    <div class="form-wrapper">
        <form class="wifi__form" v-if="formIdentificator==1">
            <div class="phone_number-group">
                <label class="form__label">Введи номер
                    <strong>Beeline</strong> и получи код для безлимитного доступа</label>
                <input class="form__input" placeholder="07XX XXXXXX" id="name" type="number" v-model="name"
                    required>
            </div>
            <div class="policy-group">
                <input class="policy__input" id="policy" name="policy" type="checkbox" v-model="checked">
                <label class="policy__label" for="policy">
                    <div class="policy__span"></div>
                    <div class="policy__text " v-on:click.prevent="goToAgreementpage($event)">я согласен(а) с условиями пользовательского соглашения</div>

                </label>
            </div>
            <button class="button" v-if="checked" type="submit" :class="[isFull() ? activeClass : '']" v-on:click.prevent="sendCode($event)">
                ПОЛУЧИТЬ КОД
            </button>
        </form>

        <form class="wifi__form" action="" v-if="formIdentificator==2">
            <div class="phone_number-group">
                <label class="form__label" for="code">Введите <b>код</b>, который <br>
                    получите на ваш телефон</label>
                <input id="code" name="code" class="form__input" type="number"
                    placeholder="XXXX" v-model="code"
                    required>
            </div>
            <button class="button" type="submit" v-on:click.prevent="validateCode($event)">
                ПОДКЛЮЧИТЬСЯ
            </button>
        </form>
    </div>
    </div>

    <script src="./libs/vue.min.js"></script>
    <script src="./libs/babel.min.js"></script>
    <script src="./libs/vue-resource.min.js"></script>

    <script type="text/babel">
        //this is a vue instance
        new Vue({
    //this targets the div id app
            el: '#app',
            mounted: function () {
              var url = new URL(window.location.href);
              var result = url.searchParams.get("checked");

              if (result==null){
                this.checked=false;
              } else {
                this.checked=result;
              }
        },
            data: {
                name: '', //this stores data values for ‘name’,
                activeClass: 'wifi__button--yellow active',
                session: '',
                response2: '',
                code: '',
                status: false,
                checked: false,
                serverurl: 'http://192.168.1.2:8181/wifi/',
                formIdentificator: 1,
            },
            methods: {
                sendCode(event) {
                    if(this.name.length > 2) {
                        this.$http.post(this.serverurl + 'auth/sendCode', {phoneNumber: this.name})
                            .then(response => {
                                if(response.body.status === null) {
                                alert(response.body.error);
                                }

                                if(response.body.status === true) {
                                    this.session = response.body.session;
                                    this.formIdentificator = 2;
                                }

                                if(response.body.status === false) {
                                    alert(response.body.error);
                                }
                            })
                        event.preventDefault();
                    }
                },

                  validateCode() {
                    this.$http.post(this.serverurl + 'auth/validateCode', {
                        phoneNumber: this.name,
                        code: this.code,
                        session: this.session
                    })
                        .then(response => {
                            if (response.body.status === true) {
                                window.location.href = "https://beeline.kg";
                            }
                            if (response.body.status === false) {
                                alert("Неверный код, попробуйте ввести еще раз")
                            }

                        })

                },
                topFunction() {
                  if (this.formIdentificator === 2) {
                    this.formIdentificator=1;
                  } else {
                      window.location.href = "../main.html";
                  }
                },

                goToAgreementpage() {
                  window.location.href = "../agreement_page.html";

                },

                isFull() {
                    if (this.name.length > 8) return true
                }
            }
        })
    </script>
</body>
</html>
