body {
	font-family: 'fira_sans_condensedregular', sans-serif;;
	color: #000;
	background: #fff;
	font-size: 1rem;
	line-height: 1.3;
	margin: 0;
	padding-top: 2.5rem;
	min-width: 320px;
}
.container {
	width: 100%;
	min-width: 320px;
	max-width: 1440px;
	padding: 0 20px;
	margin: 0 auto;
}
/*********rating block**********/
.rating__description {
	position: relative;
	border-radius: 8px;
	margin-bottom: 20px;
	padding: 37px 21px 32px;
	text-align: center;
	background: linear-gradient(#fbcf1a 0%, #f9b301 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcf1a', endColorstr='#f9b301',GradientType=0 );
}
.rating__description::before {
	content: "";
	position: absolute;
	top: -22px;
	left: 50%;
	width: 43px;
	height: 43px;
	display: inline-block;
	transform: translateX(-50%);
	background: url(../images/icon_i.svg) 0px 0px no-repeat;
}
.rating__description span {
	font-weight: bold;
}
.rating__title {
	text-align: center;
	margin: 32px 0 15px;
	font-size: 1rem;
	letter-spacing: 0.9px;
}
.answer_text {
	color: rgb(251, 207, 26);
}
.rating_button {
	text-align: center;
}
.rating_btn {
	width: 100%;
	height: 50px;
	margin: 20px 0;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(51, 60, 75, 0.2);
	background: linear-gradient(rgb(251, 207, 26), rgb(249, 179, 1));
	border: none;
	color: #000;
	font-size: 1.125rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.2px;
	opacity: 0.4;
}
.rating_block {
	text-align: center;
}
.emoji_checkbox {
	display: none;
}
.emoji_checkbox + label {
	text-transform: capitalize;
	color: rgb(170, 170, 170);
	font-size: 0.625rem;
	position: relative;
	margin-right: 12px;
	padding-top: 51px;
	cursor: pointer;
	display: inline-block;
	width: 40px;
}
.emoji_checkbox + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 40px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(../images/emoji.svg);
}
.rating_1.emoji_checkbox + label::before {
	background-position: 0 center;
}
.rating_2.emoji_checkbox + label::before {
	background-position: -60px center;
}
.rating_3.emoji_checkbox + label::before {
	background-position: -120px center;
}
.rating_4.emoji_checkbox + label::before {
	background-position: -180px center;
}
.rating_5.emoji_checkbox + label::before {
	background-position: -240px center;
}
.emoji_checkbox:checked + label {
	color: #000;
}
.emoji_checkbox:checked + label::before{
	filter: drop-shadow(0px 0px 6px rgb(255,205,0));
}
/*********interview block**********/
.interview_list {
	display: flex;
	justify-content: center;
}
.interview_item {
	padding: 8px 0 14px;
	border-bottom: 1px solid rgb(229, 229, 229);
}
.interview_itemlast {
	margin-bottom: 0;
	border-bottom: none;
}
.interview_radio {
	display: none;
}
.interview_radio + label {
	font-size: 0.875rem;
	position: relative;
	padding-left: 32px;
	cursor: pointer;
}
.interview_radio + label::before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(../images/check_sprite.svg);
}
.interview_radio:checked + label::before {
	background-position: -80px -100px;
}
.interview_label {
	font-size: 0.875rem;
	padding-left: 37px;
}
.interview_textarea {
	box-sizing: border-box;
	padding: 10px 0 0 20px;
	border-radius: 5px;
	border: 1px solid rgb(204, 204, 204);
}
@media screen and (min-width: 375px) {
	.rating_btn {
		width: 335px;
	}
	.rating__description {
		font-size: 1.125rem;
		margin: auto;
		width: 335px;
	}
	.rating__title {
		font-size: 1.125rem;
	}
}
@media screen and (min-width: 480px) {
	.rating_btn {
		font-size: 1.25rem;
		width: 400px;
		height: 60px;
	}
	.rating__description {
		font-size: 1.25rem;
		margin: auto;
		width: 400px;
	}
	.rating__title {
		font-size: 1.25rem;
	}
	.emoji_checkbox + label {
		font-size: 0.75rem;
	}
	.interview_radio + label {
		font-size: 1rem;
	}
}
@media screen and (min-width: 600px) {
	.rating_btn {
		width: 520px;
	}
	.rating__description {
		margin: auto;
		width: 520px;
	}
}
@media screen and (min-width: 1440px) {
	.rating_btn {
		width: 398px;
	}
	.rating__description {
		margin: auto;
		width: 600px;
	}
}